# IDE files
.idea/
*.iml

# Build output
out/

# Logs
*.log

# Sensitive files
.env

# Temporary files
*.class
*.pyc

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
